/* Book.css */
#BookRoot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #C19A6B;
}

@scope (#BookRoot) to (.PageRoot) { 
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .BookOuter {
        width: 100%;
        height: 80%;
        border: 2px solid green;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .BookAbove,
    .BookBelow {
        width: 100%;
    }

    .BookInner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex: 1 1 auto;
        min-height: 0;
    }

    
    .demoPage {
        text-align: center;
        background-color: var(--paper-color);
        border: 2px solid black;
    }

    .NavigationButton {
        height: 100%;
        border: 2px solid red;
        background-color: white;
    }

}