/* NavBar.css */

@scope (.NavRoot) {
    .BookAbove,
    .BookBelow {
        width: 100%;
    }

    .NavBar {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;   
        border: 2px solid blue;
    }
    
    .NavBar.double {
        grid-template-columns: 1fr 1fr; 
    }
    
    .NavBar.single {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 0.5rem;
    }
    
    .NavGroup {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 95%;
        margin: 0 auto;
        min-width: 0;
        overflow: hidden;
        border: 1px solid yellow;
    }

    .NavBar.below .NavGroup,
    .NavBar.single.below {
        justify-content: flex-start;
        
        /* overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x proximity;
        -webkit-mask-image: linear-gradient(to right, transparent, black 12px, black calc(100% - 12px), transparent);
        mask-image: linear-gradient(to right, transparent, black 12px, black calc(100% - 12px), transparent); */
        
        
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x proximity;
        /* -webkit-mask-image: linear-gradient(to right, transparent, black 12px, black calc(100% - 12px), transparent);
                mask-image: linear-gradient(to right, transparent, black 12px, black calc(100% - 12px), transparent); */
    }
    
    .NavBar.below .NavGroup,
    .NavBar.single.below,
    .NavBar.above .NavGroup,
    .NavBar.single.above {
        overflow-x: scroll;

    }
    
    .NavBar.single.above {
        justify-content: flex-start;
    }

    /* .NavBar.below .NavGroup::-webkit-scrollbar,
    .NavBar.single.below::-webkit-scrollbar {
        height: 4px;
    } */

    /* .NavBar.below .NavGroup::-webkit-scrollbar-thumb,
    .NavBar.single.below::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 2px;
    } */

    .NavigationButton {
        height: 100%;
        border: 2px solid red;
        background-color: white;
    }
    
    .NavigationButton.above {
        min-width: 200px;
        padding: 0.25rem;
        border-radius: 10px 10px 0 0;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .NavigationButton.below {
        min-width: 125px;
        border-radius: 0 0 10px 10px;
        flex: 0 0 auto;
        scroll-snap-align: start;
        margin-right: -10px;
        padding: 2px 20px 2px;
    }

    .NavigationButton.active {
        background-color: #2f6fed;
        color: white;
        border-color: #2f6fed;
        z-index: 998 !important;
    }

    .NavigationButton:hover {
        z-index: 999 !important;
    }

}